@define-color placeholder_text_color #d97eb1;
window {
    border-radius: 4px;
    /* background-color: #291924; */
    color: #fde9f7;
    font-family: "BlexMono Nerd Font Mono";
    font-weight: 600;
    font-size: 14px;
    background-color: #060105;
    background: transparent;
    background-image: linear-gradient(to bottom, #060105 100%);
    opacity: .85;
}

#entry {
    border-radius: 0;
    /* background-color: #291924;*/
}

#outer-box {
    border-radius: 4px;
    border: 1px solid #d97eb1;
    border: 1px solid #326fda;
    background-color: #060105;
    margin: 0;
    padding: 8px;
}

#inner-box {
    margin-top: 16px;
}

#input {
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
    background-image: linear-gradient(to bottom, #291924 100%);
    color: #d97eb1;
    color: #835499;
    border: none;
    border-bottom: 1px solid #d97eb1;
    /* border-bottom: 2px solid #835499; */
}

#input:placeholder {
    opacity: 0;
    color: #fde9f7;
}

#input image {
    display: none;
    color: #d97eb1;

}

#entry:selected {
    background-color: #835499;
}
